certifi
charset-normalizer
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
einops
filelock
fsspec
ftfy
huggingface-hub
idna
importlib_metadata
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
pillow
psutil
PyYAML
regex
requests
safetensors
sentencepiece
sympy
tokenizers
tqdm
transformers
triton
typing_extensions
wcwidth
xformer
zipp
datasets
accelerate
diffusers
bitsandbytes
tensorboard
peft
opencv-python
pyrallis